.grafica-card {
    position: relative;
    padding: 1.25rem;          
    border: 1px solid #ddd;
    border-radius: 0.5rem;   
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    background: #fff;
    display: flex;
    flex-direction: column;
  }
  
  .grafica-header {
    display: flex;
    margin-bottom: 1rem;
    position: relative;   
    gap: 0.5rem;   
    font-size: 13px;
  }
  
  .estacion-text {
    flex-grow: 1;
    font-size: 0.9rem;
    color: #0C2840;
    text-align: left;
  }
  
  .icono-superior {
    position: absolute;
    top: -0.5rem;                 
    right: -0.5rem;
    width: 3rem;              
    height: 3rem;
  }
  
  .icono-superior .icono-variable {
    width: 100%;
    height: auto;
  }
  
  .chart-wrapper {
    position: relative;
    width: 100%;
    height: 380px;      
  }
  
  /* Responsividad */
  @media (max-width: 992px) {
    .grafica-card {
      padding: 1rem;
    }

    .icono-superior {
      top: -0.3rem;
      right: -0rem;
      width: 2rem;
      height: 2rem;
    }
  }
  
  @media (max-width: 576px) {

    .chart-wrapper {
        height: 300px;
      }

    .grafica-header {
      flex-direction: column;
      align-items: flex-start;
        margin-bottom: 0.5rem;
    }

    .icono-superior {
      margin-top: 0rem;
      margin-right: -10px;
    }

    .estacion-text{
        font-size: 0.9rem;
    }
  }
  