.table-custom {
    font-size: 0.9rem; 
}

@media screen and (max-width: 768px) {
    .table-custom {
        font-size: 0.6rem;
    }

    .table-custom th, .table-custom td {
        padding: 8px;
    }
}
